.nerfbot_video  {
	width:100%;
	height:100%;
	outline: 1px solid black;
	position: relative;

}

#nerfbot_img {
		  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}

#nerfbot_stats {
	background-color: #333333;
	color: white;
	font-size: 28px;
	width: 34%;
	height: 48%;
	position: absolute;
	bottom: 0;
	right: 0;
}

#nerfbot_stats > div {
	padding: 20px;
}

#nerfbot_video_bottom_left
{
	width : 160px;
	height: 160px;
	position:absolute;
	bottom: 0px;
	left: 0px;
}

#nerfbot_video_bottom_right
{
	width : 160px;
	height: 160px;
	position:absolute;
	bottom: 0px;
	right: 0px;
}

#nerfbot_img {
		height: 100%;
		width: 100%;
		display: block;
		margin: auto;
}

body {
	margin: 0;
	background-color: black;
}

.stream {
	position:fixed;
}

#stream_01 {
	width:66%;
	bottom:0;
	left:0;
	border-top:1px solid white;
	background-color: #111111;
	transform: rotate(180);
}

#stream_02 {
	width:34%;
	top:0;
	right:0;
	background-color:black;
	border-left:1px solid white;
	border-bottom:1px solid white;
}