
body { 
	background: url(images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
.nerfbot_video  {
	width:100%;
	height:100%;
	outline: 1px solid black;
	position: relative;

}

#nerfbot_img {
		  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}

#nerfbot_infos {
	background-color: transparent;
	color: white;
	font-size: 28px;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

#nerfbot_infos > div {
	padding: 20px;
}

#nerfbot_stats {
	color: white;
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color:rgba(0,0,0,0.6);
	display:flex;
	justify-content: space-around;
}

.nerfbot_stat {
	padding: 5px;
	font-size: 20px;
}

#nerfbot_left_joystick_container
{
	width : 200px;
	height: 200px;
	position:absolute;
	bottom: 0px;
	left: 0px;
}

#nerfbot_right_joystick_container
{
	width : 200px;
	height: 200px;
	position:absolute;
	bottom: 0px;
	right: 0px;
}

#nerfbot_img {
		height: 100%;
		width: 100%;
		display: block;
		margin: auto;
}

body {
	margin: 0;
	background-color: black;
}

.stream {
	position:fixed;
}

#stream_01 {
	width:50%;
	top:0;
	left:0;
	background-color: transparent;
	transform: rotate(180deg);
}

#stream_02 {
	width:50%;
	top:0;
	right:0;
	background-color: transparent;
	border-left:1px solid white;
}

#stream_02_detect {
	width:50%;
	top:0;
	right:0;
	background-color: transparent;
	border-left:1px solid red;
	z-index: 10;
}


#stream_02_test {
	width:640px;
	height:480px;
	top:0;
	left:0;
	background-color: transparent;
	border:1px solid green;
	z-index: 10;
	display: none;
}

#stream_02_overlay {
	position: fixed;
	z-index: 1000;
	width:50%;
	height: 80%;
	top:0;
	right:0;
	background-color:transparent;
}

#turret_crosshair {
	width:16px;
	height: 16px;
	z-index: 1000;	
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
	position: absolute;

}


#magazine {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 70px;
	height: 30px;
	background-color: transparent;
	opacity: 0.9;
	color: white;
	font-size: 28px;
}




.action-btn {
	text-align: center;
	z-index: 100;
	position: fixed;
	
	
	height: 80px;
	width: 200px;
	border-radius: 10px;
	background-color: #555555;
	border: 4px solid white;
	color: #888888;
	font-size: 30px;
	opacity: 0.8;
}

.action-btn-icon {
	text-align: center;
	z-index: 1000;
	position: fixed;
	height: 200px;
	width: 200px;
	color: #888888;
	opacity: 0.8;	
	background-color: transparent;
	border: 0;
}

#shoot-btn {
	right: 300px;
	bottom: 50px;
}

#reload-btn {
	left: 40px;
	top: 180px;
}

#calibrate-btn-start {
	left: 40px;
	top: 40px;
}

#calibrate-btn-finish {
	left: 300px;
	top: 40px;
}

#power-slider {
	left: 40px;
	top: 340px;
	width: 420px;
}

.settings-input {
	z-index: 100;
	position: fixed;
	opacity: 0.8;	
	background-color: transparent;
}

.btn-icon {
	margin: auto;
	width:200px;
	height: 200px;
	z-index: 1000;
}

#settings {
	z-index: 10000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #222222;
	color: white;
	display:none;
}

#close-settings {
	right: 20px;
	top: 40px;
	width: 100px;
}

#speedGaugeContainer {
	display:flex;
	justify-content: center;
	width: 100%;
	position: fixed;
	bottom: 30px;
	height: 160px;
}

